@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    height: 100vh;
    background-position: center center;
    background-size: max(1000px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.74;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    height: 62px;
    padding: 15px;
}

nav img {
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'NetflixSans';
    src: url('assets/font/NetflixSans-Medium.otf') format('opentype');
    height: calc(100% - 92px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 0 30px;
    text-align: center;
}

.hero> :nth-child(1) {
    /* '>' -> Ye sign imidiate first child pe hi lagani hai property isliye use hota hai */
    position: relative;
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(2) {
    position: relative;
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(3) {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.hero> :nth-child(4) {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.seperation {
    height: 7px;
    background-color: rgb(73, 69, 69);
}

.nav-button {
    padding: 3px 20px 3px 20px;
    border-radius: 4px;
    border: 1px solid #ffffff4a;
    margin: 6px;
    font-size: 16px;
}

.btn {
    position: relative;
    padding: 3px 8px;
    background-color: rgba(23, 23, 23, 0.749);
    color: white;
    font-weight: 400;

}

.btn-red {
    padding: 9px 41px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 4px;
    background-color: red;
    color: white;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
}

.main input {
    background-color: rgba(23, 23, 23, 0.893);
    font-size: 16px;
    border-radius: 4px;
    padding: 14px 164px 14px 12px;
    border: 1px solid rgba(255, 244, 244, 0.453);
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 444px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: relative;
    top: -19vw;
    left: 5px;
    right: 0;
    width: 350px;
    left: 66px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
    margin: 10px;
}

section.first>div :nth-child(2) {
    font-size: 24px;

}

.faq h2{
    text-align: center;
    font-size: 48px;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox:hover{
    background-color: #414141;
    color: white;
}

.faqbox svg{
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 15px auto;
    cursor: pointer;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;

}

footer .questions{
    padding: 34px 0;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a{
    color: white;
    font-size: 14px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width: 1112px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 240px;
        left: 47px;
        margin: -15px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1112px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

}